// This is a manifest file that'll be compiled into application.css, which will include all the files
// listed below.
//
// Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
// or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
//
// You're free to add application-wide styles to this file and they'll appear at the bottom of the
// compiled file so the styles you add here take precedence over styles defined in any styles
// defined in the other CSS/SCSS files in this directory. It is generally better to create a new
// file per style scope.
//
//= require_tree .
//= require_self

@import "bootstrap";
@import "font-awesome";

html, body {
  width: 100%;
  height: 100%;
}

body {
  box-sizing: content-box !important;
  overflow: hidden;
  font-family: "Avenir Next";
  transition: margin 0.3s ease-out, padding 0.3s ease-out;
}

.navbar-default {
  width: 100vw;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  right: 0;
  background-color: rgb(111, 84, 153);
  transition: margin 0.3s ease-out, left 0.3s ease-out, right 0.3s ease-out;
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    width: 60px;
    height: 60px;
    padding: 20px;
    border: 0;
    border-radius: 0;
    margin: 0;
    display: block;
    float: left;
    .icon-bar {
      width: 20px;
      height: 3px;
      margin-left: auto;
      margin-right: auto;
      background-color: rgb(255, 255, 255);
      
    }
    &.navbar-add {
      position: absolute;
      top: 0;
      right: 60px;
      .fa-plus {
        font-size: 1.3em;
        color: rgb(255, 255, 255);
      }
    }
    &.navbar-search {
      position: absolute;
      top: 0;
      right: 0;
      .fa-search {
        font-size: 1.3em;
        color: rgb(255, 255, 255);
      }
    }
    &:hover {
      background-color: rgb(102, 102, 102) !important;
    }
    &:focus {
      background-color: rgb(111, 84, 153);
    }
    @media screen and (min-width: 768px) {
      margin-left: -15px;
    }
  }
  .navbar-brand {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 30px;
    text-align: center;
    font-weight: 600;
    font-size: 1.6em;
    color: rgb(255, 255, 255);
    pointer-events: none;
    &:hover {
      background: none;
      color: rgb(255, 255, 255);
    }
    @media screen and (min-width: 768px) {
      left: 15px;
    }
  }
}

.navbar-collapse,
.navbar-collapse.collapse {
  height: 100vh !important;
  width: 100vw;
  padding: 0;
  border-top: 0;
  margin-left: -100vw;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(51, 51, 51);
  transition: margin 0.3s ease-out, left 0.3s ease-out;
  .navbar-nav {
    width: 100%;
    margin-top: 0;
    li {
      padding-left: 0 !important;
      font-family: "Avenir";
      font-size: 1.3em;
      float: none;
      a {
        padding: 20px 20px;
        color: rgb(102, 102, 102);
        &:hover {
          background: none;
          color: rgb(255, 255, 255);
        }
        &:nth-child(1) i {
          margin-right: 16px;
        }
        &:nth-child(2) i {
          margin-right: 11px;
        }
        &:nth-child(3) i {
          margin-right: 12px;
        }
      }
      @media screen and (min-width: 768px) {
        padding-left: 45px;
      }
      &.active a {
        background: none;
        color: rgb(255, 255, 255);
      }
    }
  }
  @media screen and (min-width: 768px) {
    width: 300px;
    margin-left: -315px;
    left: 15px;
  }
}

.menu-visible {
  padding-left: 100vw;
  margin-left: -60px;
  .navbar-collapse {
    padding-left: 75px;
    margin-left: -60px;
  }
  @media screen and (min-width: 768px) {
    padding-left: 0;
    margin-left: 300px;
    left: 0;
    .navbar-collapse {
      padding-left: 0;
      margin-left: 0;
      left: 0;
    }
  }
}

.search-visible {
  .navbar-default {
    right: 100vw;
    margin-left: 60px;
  }
  .navbar-searchbar {
    left: 60px;
  }
}

.navbar-searchbar {
  width: 100vw;
  height: 60px;
  padding-left: 15px;
  border-bottom: 1px solid rgb(204, 204, 204);
  position: absolute;
  top: 0;
  left: 100vw;
  background-color: rgb(238, 238, 238);
  line-height: 60px;
  font-size: 1.3em;
  font-style: italic;
  color: rgb(153, 153, 153);
  transition: left 0.3s ease-out;
}

.main {
  height: 100%;
  .container-fluid {
    height: 100%;
    padding: 0 20px;
  }
}

p, ol, ul, td {
  font-family: "Avenir Next";
}

.table {
  width: 100vw;
  margin: 20px -20px;
  thead tr th {
    padding: 0 20px 10px;
    text-transform: uppercase;
    font-weight: 400;
    color: rgb(153, 153, 153);
    &:after {
      font-family: "FontAwesome";
      content: "\f0dc";
      font-size: 0.9em;
      margin-left: 10px;
    }
    &.headerSortUp {
      color: rgb(0, 0, 0);
      &:after {
        content: "\f0de";
      }
    }
    &.headerSortDown {
      color: rgb(0, 0, 0);
      &:after {
        content: "\f0dd";
      }
    }
    &:last-child:after {
      content: "";
    }
  }
  tbody tr td {
    padding: 20px;
    font-size: 1.2em;
  }
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -160px;
}

.push, .footer {
  height: 80px;
}

.footer {
  .logo {
    height: 24px;
    margin-top: -5px;
    margin-right: 10px;
    float: left;
    path {
      fill: rgb(111, 84, 153); 
    }
  }

  .copyright {
    float: left;
    color: rgb(153, 153, 153);
  }
}