.start-compose-btn, .stop-compose-btn {
  float: center;
  background-color: transparent;
  border: 6px solid #000;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-top: 150px;
  position: absolute;
  margin-left: 600px;
  font-size: 8em;
  padding-top: 0.25em;
  &:focus {
    outline: none;
  }
  &:hover {
    border-color: rgb(142, 68, 173);
    color: rgb(142, 68, 173);
  }
}

.play-compose-btn {
  width: 200px;
  font-size: 1.2em;
  padding: 10px 20px;
  border-radius: 25px;
  margin-top: 500px;
  margin-left: 600px;
  background-color: rgb(142, 68, 173);
  color: rgb(255, 255, 255);
  font-weight: 500;
  border: 0;
  &:hover {
    background-color: rgb(102, 102, 102);
    cursor: pointer;
  }
}

.compose-timer {
  display: none;
  font-size: 2em;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 400px;
  span {
    font-size: 2.4em;
    line-height: 0.75em;
    margin-left: 0.5em;
    vertical-align: bottom;
    font-weight: 600;
    color: rgb(204, 204, 204);
  }
}