// Place all the styles related to the Practice controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.drum-name {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
}

.next-btn-wrapper {
  position: fixed;
  bottom: 100px;
  left: 50px;
}