// Place all the styles related to the Practice controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .main {
//   background: url('/assets/bg.png');
//   background-size: cover;
// }

.wrapper {
  position: relative;
}

canvas {
  margin-top: 120px;
}

.marker {
  position: absolute;
  height: 170px;
  background: rgba(142, 68, 173, 0.3);
  z-index: 2;
}

.marker-current {
  border-right: 4px solid rgb(142, 68, 173);
}

.song-info {
  position: fixed;
  width: 100%;
  margin-left: -20px;
  padding: 0 20px;
  background-color: rgb(238, 238, 238);
  z-index: 3;
  h1 {
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 0;
  }
  h3 {
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  &.playing {
    .listen-btn {
      display: none;
    }
    .play-btn {
      padding-left: 0.2em;
    }
  }
}

.listen-btn {
  float: right;
  background-color: transparent;
  border: 6px solid #000;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-right: 90px;
  margin-top: -80px;
  font-size: 2em;
  padding-top: 0.3em;
  &:focus {
    outline: none;
  }
  &:hover {
    border-color: rgb(142, 68, 173);
    color: rgb(142, 68, 173);
  }
}

.play-btn, .stop-btn {
  float: right;
  background-color: transparent;
  border: 6px solid #000;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  margin-top: -85px;
  font-size: 2em;
  padding-left: 0.4em;
  padding-top: 0.4em;
  &:focus {
    outline: none;
  }
  &:hover {
    border-color: rgb(142, 68, 173);
    color: rgb(142, 68, 173);
  }
}

.stop-btn {
  padding-left: 0.2em;
}

.note-feedback {
  position: absolute;
  right: 110px;
  top: 15px;
  text-transform: uppercase;
  text-align: right;
  font-weight: 600;
  color: rgb(142, 68, 173);
  opacity: 0;
  pointer-events: none;
}

.song-settings {
  background-color: rgb(204, 204, 204);
  border-left: 0 solid rgb(142, 68, 173);
  font-size: 1.2em;
  padding: 10px 20px;
  margin-left: -20px;
  margin-right: -20px;
  .header {
    font-weight: 600;
    display: inline;
    margin-right: 40px;
    text-transform: uppercase;
    i {
      margin-right: 4px;
    }
  }
  .bpm {
    display: inline;
    input {
      text-align: center;
    }
  }
  .checkboxes {
    display: inline;
    label {
      font-weight: 400;
      input {
        margin-left: 40px;
        margin-right: 8px;
      }
      .sticking {
        margin-left: 4px;
        font-size: 0.8em;
        color: rgb(153, 153, 153);
        font-style: italic;
      }
    }
  }
  &.playing {
    height: 0;

    .form-fields {
      display: none;
    }
  }
}