<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle navbar-menu collapsed" data-toggle="collapse" data-target="#offcanvas">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">
        <%= yield(:title) %>
      </a>
      <% if yield(:title) == 'Library' %>
        <button type="button" class="navbar-toggle navbar-add" data-toggle="modal" data-target=".add-song">
          <i class="fa fa-plus"></i>
        </button>
        <button type="button" class="navbar-toggle navbar-search">
          <i class="fa fa-search"></i>
        </button>
      <% end %>
    </div>
  </div>
</nav>

<aside class="collapse navbar-collapse" id="offcanvas">
  <ul class="nav navbar-nav">
    <li class="active"><a href="/"><i class="fa fa-music"></i> Library</a></li>
    <li><a href="#"><i class="fa fa-bar-chart"></i> Stats</a></li>
    <li><a href="#"><i class="fa fa-gear"></i> Settings</a></li>
    <li><a href="#"><i class="fa fa-sign-out"></i> Log out</a></li>
  </ul>
</aside>

<% if yield(:title) == 'Library' %>
  <aside class="navbar-searchbar">
    Search for a song...
  </aside>
<% end %>