<h1>eDrum Learn Mode</h1>

<canvas id="learn-canvas" width="600" height="600" style="border:1px solid #000000;"></canvas>
<button id="next">Next</button>

<%= javascript_tag "var sequence = #{@sequence.to_json}" %>

<script>
  console.log(sequence);

  var c = document.getElementById("learn-canvas");
  var ctx = c.getContext("2d");
  var TOP_OFFSET = 100;
  var LINE_SPREAD = 40;

  //draw lines
  var drawLines = function() {
    for (var i=0; i < 6*LINE_SPREAD; i+=LINE_SPREAD) {
      ctx.beginPath();
      ctx.strokeStyle = "black";
      ctx.moveTo(0,i+TOP_OFFSET);
      ctx.lineTo(c.width,i+TOP_OFFSET);
      ctx.stroke();

      ctx.beginPath();
      ctx.strokeStyle = "#FF0000";
      ctx.rect(0, 0, LINE_SPREAD, c.height);
      ctx.stroke();
    }
  }

  drawLines(ctx);

  var testNotes = [];
  for (var i = 0; i < 55; i++) {
    testNotes.push(new Note(i%7, 1));
  }

  var testSequence = new Sequence(testNotes);

  var startSequence = function(sequence) {
    var cur_location = 0;
    sequence.draw(ctx, cur_location)

    var stepSequence = function() {
      cur_location++;
      ctx.clearRect(0, 0, c.width, c.height);
      drawLines();
      sequence.draw(ctx, cur_location);
    }

    $("#next").click(function(evt) {
      stepSequence();
    })
  }

  startSequence(testSequence);





</script>